Repository BjornMelin/bjornmelin-platform-io, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, testing, configuration, dependencies, documentation, styling, types, security, ci, docker

.github/labeler.yml:

# Add labels based on file paths
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'
      - 'app/**'
      - 'components/**'
      - 'hooks/**'
      - 'lib/**'
      - 'styles/**'
      - 'public/**'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'api/**'
      - 'server/**'
      - 'middleware/**'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - '**/*.spec.*'
      - 'tests/**'
      - 'e2e/**'
      - '__tests__/**'
      - 'playwright/**'
      - 'vitest.config.*'
      - 'playwright.config.*'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.*'
      - '*.json'
      - '*.yaml'
      - '*.yml'
      - '.env*'
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'yarn.lock'
      - 'package-lock.json'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE*'

styling:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.css'
      - '**/*.scss'
      - '**/*.sass'
      - 'tailwind.config.*'
      - 'postcss.config.*'

types:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.d.ts'
      - 'types/**'
      - 'tsconfig.*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security-*'
      - '.github/workflows/codeql*'
      - '.github/dependabot.yml'
      - '**/auth/**'
      - '**/security/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*'
      - '.dockerignore'

feat: implement zero-dependency feature flags system
  src/app/feature-flags-demo/demo-client.tsx
  src/app/providers.tsx
  src/components/contact/contact-form-with-flags.tsx
  src/lib/feature-flags/__tests__/evaluator.test.ts
  src/lib/feature-flags/client-exports.ts
  src/lib/feature-flags/hooks.tsx
Labels: frontend, testing

docs: add email service migration analysis and plan
  .taskmaster/tasks/tasks.json
  docs/email-migration-plan.md
  docs/email-service-comparison-2025.md
Labels: documentation

feat: migrate email notifications to Resend API
  .env.example
  .env.local.example
  .taskmaster/tasks/tasks.json
  README.md
  docs/api/contact.md
  docs/architecture/backend.md
  docs/architecture/infrastructure.md
  docs/deployment/environments.md
  infrastructure/bin/app.ts
  infrastructure/lib/functions/contact-form/index.ts
  infrastructure/lib/stacks/email-stack.ts
  infrastructure/lib/types/stack-props.ts
  infrastructure/package.json
  package.json
  pnpm-lock.yaml
  src/app/api/contact/__tests__/integration.test.ts
  src/app/api/contact/__tests__/route.test.ts
  src/app/api/contact/route.ts
  src/lib/aws/ses.ts
  src/lib/services/email.ts
Labels: frontend, testing, configuration, dependencies, documentation

feat(email): implement secure email service with AWS infrastructure
  .env.production
  .taskmaster/tasks/tasks.json
  docs/deployment-secrets-setup.md
  docs/email-service-migration.md
  generated-diagrams/aws-email-infrastructure.png
  infrastructure/bin/app.ts
  infrastructure/docs/APPLICATION_INTEGRATION_EXAMPLES.md
  infrastructure/docs/EMAIL_INFRASTRUCTURE_GUIDE.md
  infrastructure/docs/SECURITY_AUDIT_CHECKLIST.md
  infrastructure/lib/functions/rotate-resend-key/index.ts
  infrastructure/lib/stacks/email-stack.ts
  infrastructure/lib/stacks/secrets-stack.ts
  scripts/test-email.js
  scripts/test-email.mjs
  src/app/api/contact/route.ts
  src/env.mjs
  src/lib/services/__tests__/resend-email.test.ts
  src/lib/services/resend-email.ts
Labels: frontend, testing, configuration, documentation

feat: migrate from AWS Secrets Manager to Parameter Store with cost optimization
  docs/docs-index.md
  docs/infrastructure/APPLICATION_INTEGRATION_EXAMPLES.md
  docs/infrastructure/AWS_FREE_TIER_OPTIMIZATION_2025.md
  docs/infrastructure/EMAIL_INFRASTRUCTURE_GUIDE.md
  docs/infrastructure/README.md
  docs/infrastructure/SECURITY_AUDIT_CHECKLIST.md
  infrastructure/bin/app.ts
  infrastructure/lib/functions/rotate-parameter/index.ts
  infrastructure/lib/functions/rotate-resend-key/index.ts
  infrastructure/lib/stacks/__tests__/parameter-store-stack.test.ts
  infrastructure/lib/stacks/email-stack.ts
  infrastructure/lib/stacks/monitoring-stack.ts
  infrastructure/lib/stacks/parameter-store-stack.ts
  infrastructure/lib/stacks/secrets-stack.ts
  infrastructure/package.json
  package.json
  pnpm-lock.yaml
  scripts/test-email.js
  src/env.mjs
  src/lib/services/__tests__/parameter-store.test.ts
  src/lib/services/__tests__/resend-email.test.ts
  src/lib/services/parameter-store.ts
  src/lib/services/resend-email.ts
Labels: frontend, testing, configuration, dependencies, documentation

docs: add subtasks for Resend email migration and AWS infrastructure work
  .taskmaster/tasks/tasks.json
Labels: none

improve: modernize .gitignore with comprehensive patterns and organization
  .gitignore
Labels: none

fix: align Claude Code configuration with official conventions
  .gitignore
  CLAUDE.md
Labels: documentation

fix: move personal Claude Code preferences to correct user memory location
  CLAUDE.md
Labels: documentation

feat: replace personal details with placeholders in env example
  .env.local.example
Labels: configuration

security: remove all personal information from tracked files
  .env.production
  .env.production.example
  .gitignore
  infrastructure/lib/constants.ts
  next.config.mjs
  src/app/sitemap.ts
  src/components/layout/footer.tsx
  src/data/projects.ts
  src/env.mjs
Labels: frontend, configuration

fix: restore public social media links in footer and projects
  src/components/layout/footer.tsx
  src/data/projects.ts
Labels: frontend
